<div class="context-header ">
  <div class="grid-container">
    <nav class="breadcrumbs ">
      <a href="/">Home</a>
      <a href="/category/all">Files</a>
      <a href="#">WordPress</a><a href="http://themeforest.dev/category/wordpress/blog-magazine">Blog / Magazine</a>
      <a href="#" itemprop="genre">News / Editorial</a>
    </nav>

    <div class="item-header" data-view="itemHeader">
      <div class="item-header__title">
        <h1 class="t-heading -color-inherit -size-l h-remove-margin" itemprop="name">
          Easter decorations
        </h1>
      </div>
      <div class="item-header__price">
        <a href="/cart/configure_before_adding/6387314" class="js-item-header__cart-button e-btn--3d -color-primary -size-l" data-view="modalAjax" rel="nofollow" title="Add to Cart">
          <i class="e-icon -icon-cart -margin-right"></i>
          <span class="js-item-header__price">
            <b class="t-currency">$
              <span class="js-item-header__price">56</span>
            </b>
        </a>
      </div>
    </div>

    <!-- Desktop Item Navigation -->
    <div class="is-hidden-tablet-and-below page-tabs">
      <ul>
        <li class="selected"><a class="t-link -decoration-none" href="#">Item Details</a></li>
        <li><a class="t-link -decoration-none" href="#" rel="nofollow">Comments</a></li>
        <li><a class="t-link -decoration-none" href="#">Reviews</a></li>
        <li><a class="t-link -decoration-none" href="#">Support</a></li>
        <li><a class="t-link -decoration-none" href="#">Edit</a></li>
        <li><a class="t-link -decoration-none" href="#">History</a></li>
        <li><a class="t-link -decoration-none" href="#" root_path="/item/fake-theme/6387314/analytics">Analytics</a></li>
      </ul>

      <ul class="right">
        <li><a class="t-link -decoration-none" href="#">Admin Edit</a></li>
        <li><a class="t-link -decoration-none" href="#">Oversized Edit</a></li>
        <li><a class="t-link -decoration-none" href="#">Notes</a></li>
      </ul>
    </div>


    <!-- Table or below Item Navigation -->
    <div class="page-tabs--dropdown" data-view="replaceItemNavsWithRemote" data-target=".js-remote">
      <div class="page-tabs--dropdown__slt-custom-wlabel">
        <div class="slt-custom-wlabel--page-tabs--dropdown">
          <label>
            <span class="js-label">
              Item Details
            </span>
            <span class="slt-custom-wlabel__arrow">
              <i class="e-icon -icon-arrow-fill-down"></i>
            </span>
          </label>

          <select class="js-remote">
            <option data-url="/item/fake-theme/6387314" selected="selected">Item Details</option>
            <option data-url="/item/fake-theme/6387314/comments">Comments</option>
            <option data-url="/item/fake-theme/reviews/6387314">Reviews</option>
            <option data-url="/item/fake-theme/6387314/support">Support</option>
            <option data-url="/item/fake-theme/edit/6387314">Edit</option>
            <option data-url="/item/fake-theme/history/6387314">History</option>
            <option data-url="/item/fake-theme/6387314/analytics/page-views">Analytics</option>
            <option disabled></option>
            <option data-url="/admin/item/edit/6387314">Admin Edit</option>
            <option data-url="/admin/oversized_items/6387314/edit">Oversized Edit</option>
            <option data-url="/item/fake-theme/notes/6387314">Notes</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
