<table class="table-general -striped -comparison-table -bordered-v" data-view="tableHighlightColumn" data-disable-first-column="true">
  <thead>
    <tr>
      <th></th>
      <th>Music Standard<br><a href="/licenses/terms/regular" class="t-link -color-light">view full license</a></th>
      <th>Music Mass Reproduction<br><a href="/licenses/terms/extended" class="t-link -color-light">view full license</a></th>
      <th>Music Broadcast (Limited)<br><a href="/licenses/terms/extended" class="t-link -color-light">view full license</a></th>
      <th>Music Broadcast &amp; Film<br><a href="/licenses/terms/extended" class="t-link -color-light">view full license</a></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Number of end products</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>

    <tr>
      <td>Most web uses <br>
        <small>(e.g. YouTube,  <%= link_to 'see FAQ for more details', faq_license_groups_path %>)</small>
      </td>
      <td><span class="e-icon -icon-ok -color-green"><span class="e-icon__alt">Yes</span></span></td>
      <td><span class="e-icon -icon-ok -color-green"><span class="e-icon__alt">Yes</span></span></td>
      <td><span class="e-icon -icon-ok -color-green"><span class="e-icon__alt">Yes</span></span></td>
      <td><span class="e-icon -icon-ok -color-green"><span class="e-icon__alt">Yes</span></span></td>
    </tr>

    <tr>
      <td>Copies of downloaded or physical products<br>
        <small>(e.g. apps, DVDs, video games, audiobooks)</small>
      </td>
      <td>Up to 10,000 copies or downloads</td>
      <td>Unlimited copies or downloads</td>
      <td>Unlimited copies or downloads</td>
      <td>Unlimited copies or downloads</td>
    </tr>

    <tr>
      <td>TV/radio broadcast, broadcast advertising<br>
        and online equivalents
      </td>
      <td>Up to 1 million<br>
        audience size
      </td>
      <td>Up to 1 million<br>
        audience size
      </td>
      <td>Up to 10 million<br>
        audience size
      </td>
      <td>Unlimited<br>
        audience size
      </td>
    </tr>

    <tr>
      <td>Film</td>
      <td>Indie film &amp; festival</td>
      <td>Indie film &amp; festival</td>
      <td>Indie film &amp; festival</td>
      <td>Theatrical film release</td>
    </tr>
  </tbody>
</table>
