<div class="sg-grid">
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-alert -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-alert</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-alpha -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-alpha</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-arrow-fill-down -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-arrow-fill-down</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-arrow-fill-left -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-arrow-fill-left</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-arrow-fill-right -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-arrow-fill-right</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-arrow-fill-up -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-arrow-fill-up</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-bar-chart -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-bar-chart</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-bolt -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-bolt</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-bookmark -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-bookmark</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-briefcase -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-briefcase</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-cactus -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-cactus</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-calendar -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-calendar</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-cancel -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-cancel</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-cart -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-cart</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-chevron-down -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-chevron-down</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-circle-empty -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-circle-empty</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-circle-full -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-circle-full</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-clock -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-clock</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-code -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-code</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-cog -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-cog</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-disable -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-disable</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-document -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-document</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-document-filled -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-document-filled</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-document-pdf -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-document-pdf</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-document-psd -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-document-psd</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-document-zip -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-document-zip</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-dollar -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-dollar</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-download -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-download</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-envato -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-envato</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-facebook -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-facebook</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-favorite -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-favorite</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-film -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-film</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-flag -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-flag</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-folder -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-folder</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-folder-o -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-folder-o</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-folder-open -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-folder-open</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-folder-open-o -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-folder-open-o</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-frame-rotated -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-frame-rotated</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-gauge -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-gauge</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-globe -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-globe</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-google-plus -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-google-plus</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-grid -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-grid</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-guitar -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-guitar</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-hamburger -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-hamburger</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-info -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-info</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-left-open -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-left-open</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-link-ext -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-link-ext</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-list -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-list</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-lock -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-lock</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-login -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-login</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-logout -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-logout</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-long-arrow-down -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-long-arrow-down</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-long-arrow-up -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-long-arrow-up</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-looped -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-looped</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-megaphone -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-megaphone</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-moneybag -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-moneybag</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-ok -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-ok</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-palette -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-palette</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-pause -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-pause</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-pencil -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-pencil</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-people -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-people</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-person -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-person</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-pin -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-pin</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-pinterest -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-pinterest</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-plug -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-plug</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-plus -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-plus</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-polygon -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-polygon</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-preview -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-preview</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-question-mark -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-question-mark</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-right-open -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-right-open</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-rss -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-rss</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-ruler -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-ruler</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-search -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-search</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-share -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-share</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-smiley-happy -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-smiley-happy</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-smiley-neutral -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-smiley-neutral</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-smiley-upset -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-smiley-upset</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-smiley-very-happy -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-smiley-very-happy</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-smiley-very-upset -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-smiley-very-upset</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-sort -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-sort</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-speech-bubble -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-speech-bubble</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-speech-bubbles -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-speech-bubbles</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-spinner -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-spinner</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-star -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-star</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-star-empty -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-star-empty</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-star-full -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-star-full</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-star-half -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-star-half</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-star-half-empty -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-star-half-empty</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-tag -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-tag</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-tempo -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-tempo</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-trash -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-trash</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-tv -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-tv</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-twitter -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-twitter</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-upload -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-upload</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-vocals -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-vocals</code>
        </div>
      </div>
    </div>
  
    <div class="sg-grid__item">
      <div class="sg-swatch">
        <div class="sg-swatch__header -size-large">
          <i class="e-icon -icon-withdrawal -size-jumbo"></i>
        </div>
        <div class="sg-swatch__body">
          <code>-icon-withdrawal</code>
        </div>
      </div>
    </div>
  
</div>
