<div class="sg-banner__icon">
  <% case visibility %>
  <% when nil %>
    <i class="material-icons">visibility</i>
  <% when :unpublished %>
    <i class="material-icons">visibility_off</i>
  <% when :restricted %>
    <i class="material-icons">lock</i>
  <% end %>
</div>
