<div class="sg-content">
  <section class="sg-content__group">
    <div am-Grid>
      <div am-Grid-Col="l:10" am-Grid-Row=" l:start">
        <p class="t-body -size-l">
          Guidelines for how our styles should look (WIP)
        </p>

        <p class="t-body is-hidden-tablet-and-below"><span class="t-heading -size-l">&larr; </span> Start exploring!</p>
      </div>
    </div>
  </section>
</div>
