<div class="sg-content">
  <section class="sg-content__group">
    <div am-Grid>
      <div am-Grid-Col="l:10" am-Grid-Row=" l:start">
        <p class="t-body -size-l">
          Everything on our site is formed from basic building blocks like buttons, forms, alert boxes and typography. We use this pattern library to keep track of all of these bits and pieces.
        </p>

        <p class="t-body is-hidden-tablet-and-below"><span class="t-heading -size-l">&larr; </span> Start exploring!</p>
      </div>
    </div>
  </section>
</div>
