<div class="sg-content">
  <div class="sg-content__intro">
    <p class="t-body -size-l">All form inputs should have a class applied as there are no global input styles.</p>
  </div>

  <section class="sg-content__group">
    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <span class="sg-code--block example" data-heading="Regular">
          <!-- Input -->
          <input class="f-input -type-string" type="text">
        </span>

        <span class="sg-code--block example" data-heading="Placeholder">
          <!-- Input with placeholder -->
          <input class="f-input -type-string" type="text" placeholder="Envato Market">
        </span>

        <span class="sg-code--block example" data-heading="With value">
          <!-- Input with value -->
          <input class="f-input -type-string" type="text" value="Envato Market">
        </span>

        <span class="sg-code--block example" data-heading="Disabled">
          <!-- Disabled Input -->
          <input class="f-input -type-string" type="text" value="Envato Market" disabled>
        </span>

        <span class="sg-code--block example" data-heading="Disabled with placeholder">
          <!-- Disabled Input with placeholder -->
          <input class="f-input -type-string" type="text" placeholder="Envato Market" disabled>
        </span>

        <span class="sg-code--block example" data-heading="Password">
          <!-- Password input -->
          <input class="f-input -type-string" type="password" value="envato-market">
        </span>

        <span class="sg-code--block example" data-heading="Monospace font">
          <!-- Monospace font -->
          <input class="f-input -type-string -font-monospace" type="text" value="Envato Market">
        </span>

        <span class="sg-code--block example" data-heading="Validation States (data-attributes)">
          <!-- Input with validation states -->
          <input class="f-input -type-string" data-status="valid" type="text" value="Valid">
          <input class="f-input -type-string" data-status="invalid" type="text" value="Invalid">
          <input class="f-input -type-string" data-status="error" type="text" value="Error">
          <input class="f-input -type-string" data-status="pending" type="text" value="Pending">
          <input class="f-input -type-string" data-status="warning" type="text" value="Warning">
        </span>

        <span class="sg-code--block example" data-heading="Validation States with icons (data-attributes)">
          <!-- Input with validation states -->
          <input class="f-input -type-string" data-status="valid" data-icon="true" type="text" value="Valid">
          <input class="f-input -type-string" data-status="invalid" data-icon="true" type="text" value="Invalid">
          <input class="f-input -type-string" data-status="error" data-icon="true" type="text" value="Error">
          <input class="f-input -type-string" data-status="pending" data-icon="true" type="text" value="Pending">
          <input class="f-input -type-string" data-status="warning" data-icon="true" type="text" value="Warning">
        </span>

        <span class="sg-code--block example" data-heading="Validation States (classes)">
          <!-- Input with validation states -->
          <input class="f-input -type-string is-valid" type="text" value="Valid">
          <input class="f-input -type-string is-invalid" type="text" value="Invalid">
          <input class="f-input -type-string is-error" type="text" value="Error">
          <input class="f-input -type-string is-pending" type="text" value="Pending">
          <input class="f-input -type-string is-warning" type="text" value="Warning">
        </span>

        <span class="sg-code--block example" data-heading="Full width">
          <!-- Input full width-->
          <input class="f-input -type-string -width-full" type="text">
        </span>
      <% end %>
    </div>
  </section>
</div>
