<div class="sg-content">
  <div class="sg-content__intro">
    <p class="t-body -size-l">Passwords are judged on their strength and validation separately.</p>
    <p class="t-body">This is due to server rules and what it may consider a strong password can still be invalid e.g. 'password is same as current'</p>
  </div>


  <section class="sg-content__group">
    <h2 id="passwords" class="t-heading -size-m">Combinations</h2>
    <p class="t-body">Examples of strength and validation</p>

    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <span class="sg-code--block example">
          <div class="password-strength" data-strength="0" data-valid="false">
            <input class="f-input -type-string" type="text" value="empty + invalid">
            <div class="password-strength__indicator">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </span>

        <span class="sg-code--block example">
          <div class="password-strength" data-strength="1" data-valid="false">
            <input class="f-input -type-string" type="text" value="weak + invalid">
            <div class="password-strength__indicator">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </span>

        <span class="sg-code--block example">
          <div class="password-strength" data-strength="2" data-valid="false">
            <input class="f-input -type-string" type="text" value="acceptable + invalid">
            <div class="password-strength__indicator">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </span>

        <span class="sg-code--block example">
          <div class="password-strength" data-strength="3" data-valid="true">
            <input class="f-input -type-string" type="text" value="good + valid">
            <div class="password-strength__indicator">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </span>

        <span class="sg-code--block example">
          <div class="password-strength" data-strength="4" data-valid="true">
            <input class="f-input -type-string" type="text" value="great + valid">
            <div class="password-strength__indicator">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </span>
      <% end %>
    </div>
  </section>


  <section class="sg-content__group">
    <h2 id="passwords" class="t-heading -size-m">Password validation</h2>
    <p class="t-body">
      <strong>Validation</strong> determines the color of active the bars.<br>
      <strong>Strength</strong> determines how many bars should be active.
    </p>

    <div class="sg-content__example">
      <span class="sg-code--block example">
        <div class="password-strength" data-strength="0" data-valid="true">
          <input class="f-input -type-string" type="text" value="0 bars">
          <div class="password-strength__indicator">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

        <div class="password-strength" data-strength="0" data-valid="false">
          <input class="f-input -type-string" type="text" value="0 bars">
          <div class="password-strength__indicator">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </span>

      <span class="sg-code--block example">
        <div class="password-strength" data-strength="1" data-valid="true">
          <input class="f-input -type-string" type="text" value="1 bar">
          <div class="password-strength__indicator">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

        <div class="password-strength" data-strength="1" data-valid="false">
          <input class="f-input -type-string" type="text" value="1 bar">
          <div class="password-strength__indicator">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </span>

      <span class="sg-code--block example">
        <div class="password-strength" data-strength="2" data-valid="true">
          <input class="f-input -type-string" type="text" value="2 bars">
          <div class="password-strength__indicator">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="password-strength" data-strength="2" data-valid="false">
          <input class="f-input -type-string" type="text" value="2 bars">
          <div class="password-strength__indicator">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </span>

      <span class="sg-code--block example">
        <div class="password-strength" data-strength="3" data-valid="true">
          <input class="f-input -type-string" type="text" value="3 bars">
          <div class="password-strength__indicator">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="password-strength" data-strength="3" data-valid="false">
          <input class="f-input -type-string" type="text" value="3 bars">
          <div class="password-strength__indicator">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </span>

      <span class="sg-code--block example">
        <div class="password-strength" data-strength="4" data-valid="true">
          <input class="f-input -type-string" type="text" value="4 bars">
          <div class="password-strength__indicator">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="password-strength" data-strength="4" data-valid="false">
          <input class="f-input -type-string" type="text" value="4 bars">
          <div class="password-strength__indicator">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </span>
    </div>
  </section>
</div>
