<div class="sg-content">
  <div class="sg-content__intro">
    <p class="t-body -size-l"><code class="sg-code">t-currency</code> is the solution to consistently format the currency symbol position for all use of currency.</p>

  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Basic Usage</h2>
    <p class="t-body">Size and colour are inherited.</p>

     <%= code_example('markup') do %>
      <b class="t-currency">$9876</b>
    <% end %>
  </section>

  <section class="sg-content__group">
    <h2 class="t-heading -size-m">Examples</h2>
    <p class="t-body">
      It's recommend to only use <code class="sg-code">t-currency</code> with the typography classes such as <code class="sg-code">t-heading</code> and <code class="sg-code">t-body</code>.
    </p>


    <div class="sg-content__example">
      <%= code_example('markup') do %>
        <span class="sg-code--block example">
          <!-- Heading X-Large -->
          <h4 class="t-heading -size-xl"><b class="t-currency">$9876</b></h4>

          <!-- Heading Large -->
          <h4 class="t-heading -size-l"><b class="t-currency">$9876</b></h4>

          <!-- Heading Medium -->
          <h4 class="t-heading -size-m"><b class="t-currency">$9876</b></h4>

          <!-- Heading Small -->
          <h4 class="t-heading -size-s"><b class="t-currency">$9876</b></h4>

          <!-- Heading X-Small -->
          <h4 class="t-heading -size-xs"><b class="t-currency">$9876</b></h4>
        </span>

        <span class="sg-code--block example">
          <!-- Body X-Large -->
          <p class="t-body -size-xl"><b class="t-currency">$9876</b></p>

          <!-- Body Large -->
          <p class="t-body -size-l"><b class="t-currency">$9876</b></p>

          <!-- Body Default -->
          <p class="t-body"><b class="t-currency">$9876</b></p>

          <!-- Body Medium -->
          <p class="t-body -size-m"><b class="t-currency">$9876</b></p>

          <!-- Body Small -->
          <p class="t-body -size-s"><b class="t-currency">$9876</b></p>
        </span>
      <% end %>
    </div>
  </section>
</div>
